#headerRow { 
    background-image: linear-gradient(#2fff63, #ff6126);
    text-align: center;  
    margin: auto;
    justify-content: center;
    padding: 25px 0px 25px 0px;
   
}

html {
    background-color: aqua;
    background-image: url(../images/background.gif); 
}

body, .container {
    background-color: #ff6126 !important;
    background-image: url(../images/background.gif); 
}

.test { 
    background-color: #2fff63;
    float: left;
    padding-bottom: 50px;
    border: solid red;  
    background-image: linear-gradient(#2fff63, #ff6126); 
}

#description {
    color: blue;
}

button {
    background-color: greenyellow;
    width: 100px;
    height: 80px;
    border-radius: 20%; 
    border: solid orangered;
}
#userSearch {
    width: 100%;
    background-image: url(../images/background.gif);
    background-image: cover;
    font-size: 40px;
    border-radius: 20px;
}

#userRequestsNewGifs {
    border-radius: 20px;
}

/****************MEDIA QUERIES******************/
/** tablet screen size **/
@media screen and (max-width: 768px) {
    
}


/** phone in landscape screen size **/
@media screen and (max-width: 640px) {
    img {
        height: 150px;
        width: 220px;
        justify-content: center;
    }


  

  